html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


fieldset.form-root-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.field-control {
    width: 100%;
    margin-bottom: var(--field-control-margin-bottom, 0.75rem);
}
.field-control > label {
    display: block;
}
.field-control.required > label::after {
    content: '*';
}

/* field */
.field {
    display: block;
    width: 100%;
    appearance: none;
    background-color: var(--field-background, #fff);
    border: var(--field-border, 1px solid #ccc);
    border-radius: var(--field-border-radius, 0.25rem);
}

textarea.field {
    min-height: 5rem;
    resize: vertical;
}
