input,
select,
textarea,
button {
    font: inherit;
    font-size: 1rem;
    box-sizing: border-box;
    appearance: none;
    outline: none;
    margin: 0;
    padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
button, select {
    text-transform: none;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    background-clip: text !important;
}

/*.form-fieldset-main {
    border: 0;
    margin: 0;
    padding: 0;
}*/

.form-control {
    width: 100%;
    margin-bottom: .5rem;

    & > label {
        display: block;
        margin-bottom: .25rem;
        font-weight: 500;
        font-size: .875rem;
    }

    &.required > label:after {
        content: '*';
    }

    input, select, textarea {
        display: block;
        width: 100%;
        background: var(--form-field-bg);
        border: var(--form-field-border);
        border-radius: var(--form-field-border-radius);
        padding: var(--form-field-padding);
        font-size: 1rem;
        line-height: 1.5;

        &:focus {
            border: var(--form-field-focus-border);
            box-shadow: var(--form-field-focus-shadow);
        }
    }
    textarea {
        resize: vertical;
    }
}

/*-- addons --*/
.form-control .with-addons {
    display: flex;

    & > input, & > select, & > textarea {
        position: relative;
        z-index: 1;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}



/*-- field states --*/
.form-control.is-invalid input {
    border-color: #842029;
}

.form-control.is-valid input {
    border-color: #75b798;
}

/*-- feedback --*/
.invalid-feedback {
    display: block;
    width: 100%;
    font-size: .875rem;
    color: #842029;
    margin-top: .125rem;
}

/*-- inline group --*/
.form-inline-group {
    display: flex;
    gap: 1rem;
}

/*-- addons --*/
/*.form-control .with-addons {
    display: flex;
}
.form-control .with-addons > input:not(:first-child), 
.form-control .with-addons > select:not(:first-child) 
.form-control .with-addons > textarea:not(:first-child) 
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-control .with-addons > input:not(:last-child), 
.form-control .with-addons > select:not(:last-child) 
.form-control .with-addons > textarea:not(:last-child) 
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}*/
.field-addon {
    background: #eee;
    border: var(--form-field-border);
    align-content: center;
    padding-inline: 0.5rem;
    white-space: nowrap;
    text-shadow: 0 1px 0 #fff;
}
.with-addons > .field-addon:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.with-addons > .field-addon:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
