.react-select__control {
    display: block;
    width: 100%;
    background: var(--form-field-bg);
    padding: var(--form-field-padding);
    font-family: inherit;
    font-size: 1rem;
    color: var(--form-field-color);
    border: var(--form-field-border);
    border-radius: var(--form-field-border-radius);
    box-shadow: var(--forms-control-shadow);
}

.react-select__value-container {
    line-height: 1.5;
}

.react-select__menu {
    background: #fff;
    border: var(--form-field-border);
    margin-top: 3px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: var(--forms-control-shadow);
}
